body{
margin:0;
font-family: 'Segoe UI', sans-serif;
background:#f5f7fa;
transition:0.3s;
}
header{
text-align:center;
padding:40px;
background:linear-gradient(135deg,#667eea,#764ba2);
color:white;
}
.tagline{opacity:0.9}
nav{
display:flex;
justify-content:center;
flex-wrap:wrap;
background:#222;
}
nav a{
color:white;
padding:12px;
text-decoration:none;
}
nav a:hover{background:#444}
section{
padding:40px 20px;
max-width:900px;
margin:auto;
}
h2{text-align:center;margin-bottom:20px}
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card img {
    transition: 0.3s;
}

.card:hover img {
    transform: scale(1.05);
}
.card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}
.card:hover{
transform:translateY(-5px);
}
footer{
text-align:center;
padding:20px;
background:#222;
color:white;
}
.dark{
background:#121212;
color:white;
}
.dark nav{background:#000}
.dark .card{background:#1e1e1e}
